{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}
<h1 class="mt-4">Admin Dashboard</h1>
<h2>Users</h2>
<ul>
    {% for user in users %}
    <li>{{ user.username }} - {{ user.email }} - {{ user.role }}</li>
    {% endfor %}
</ul>
<h2>Schedules</h2>
<!-- <ul>
    {% for schedule in schedules %}
    <li>{{ schedule.date }} - {{ schedule.author.username }}</li>
    {% endfor %}
</ul>
<h2>Recyclings</h2> -->
<ul>
    {% for recycling in recyclings %}
    <li>{{ recycling.date }} - {{ recycling.materials }} - {{ recycling.author.username }}</li>
    {% endfor %}
</ul>
<ul>
    {% for schedule in schedules %}
        <li>{{ schedule.date }} - {{ schedule.user.username }}</li>
    {% endfor %}
</ul>
{% endblock %}
